body {
    background-image: linear-gradient(#b9a1e2, #bda5e6);
}

.card {
    background-image: linear-gradient(#b9a1e2, #bda5e6);
    border: none;
}

.navbar {
    background-image: linear-gradient(#9a6ee6, #b9a1e2);
}
